.altezza-sezione {
  min-height: 100%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0em 0em !Important;
}


.bg-primary .dataTables_wrapper .dataTables_length, .bg-primary .dataTables_wrapper .dataTables_filter, .bg-primary .dataTables_wrapper .dataTables_info, .bg-primary .dataTables_wrapper .dataTables_processing, .bg-primary .dataTables_wrapper .dataTables_paginate {
    color: rgba(255, 255, 255, 0.5) !Important;
}